VENUS_URL=http://localhost:8000
SATURN_URL=http://localhost:8006
NEPTUNE_URL=http://localhost:8001
SUN_URL=http://localhost:8007
MOON_URL=http://localhost:8003
PLUTO_URL=http://localhost:8008
THEMIS_URL=http://localhost:8009
MARS_URL=http://localhost:8002
