PUBLIC_VENUS_URL=http://localhost:8000
PUBLIC_SATURN_URL=http://localhost:8006
PUBLIC_NEPTUNE_URL=http://localhost:8001
PUBLIC_SUN_URL=http://localhost:8007
PUBLIC_MOON_URL=http://localhost:8003
PUBLIC_PLUTO_URL=http://localhost:8008
PUBLIC_THEMIS_URL=http://localhost:8009
PUBLIC_MARS_URL=http://localhost:8002
